---
import type { AstroBuiltinAttributes } from 'astro';
import { generateXorKey, obfuscate } from '../server';
import { Type } from '../Type';

export interface StyleableComponent {
  class?: AstroBuiltinAttributes['class:list']
  noscriptClass?: AstroBuiltinAttributes['class:list']
}

interface Props extends StyleableComponent {
  /** Obfuscated data */
  data: string,
  /** Obfuscated text, if different from data */
  text?: string
  /** Data type */
  type: Type | string
}

const { data, text, type, class: classes, noscriptClass } = Astro.props;

const xor = generateXorKey();
const obfuscatedData = obfuscate(data, xor);
const obfuscatedText = text ? obfuscate(text, xor) : null;

function getNoJsText() {
  switch (type) {
    case Type.EMAIL: return 'email address';
    case Type.PHONE: return 'phone number';
    case Type.TEXT: return 'text';
    default: return 'data';
  }
}
---

<obfuscated-data
  data-obfuscated={obfuscatedData}
  data-text={obfuscatedText}
  data-xor={xor}
  data-type={type}
  class:list={classes}
>[please wait]</obfuscated-data>

<noscript class:list={noscriptClass}>
  <span>[enable JavaScript to view this {getNoJsText()}]</span>
  <style>
    obfuscated-data {
      display: none;
    }
  </style>
</noscript>

<script>
  import ObfuscatedData from '../client';
  customElements.define('obfuscated-data', ObfuscatedData);
</script>
