---
import { generateXorKey, obfuscate } from './obfuscate';
import { Type } from './Type';

interface Props {
  /** Obfuscated data */
  data: string,
  /** Obfuscated text, if different from data */
  text?: string
  /** Data type */
  type: Type | string
}

const { data, text, type } = Astro.props;

const xor = generateXorKey();
const obfuscatedData = obfuscate(data, xor);
const obfuscatedText = text ? obfuscate(text, xor) : null;

function getNoJsText() {
  switch (type) {
    case Type.EMAIL: return 'email address';
    case Type.PHONE: return 'phone number';
    case Type.TEXT: return 'text';
    default: return 'data';
  }
}
---

<obfuscated-data
  data-obfuscated={obfuscatedData}
  data-text={obfuscatedText}
  data-xor={xor}
  data-type={type}
>[please wait]</obfuscated-data>

<noscript>
  <span>[enable JavaScript to view this {getNoJsText()}]</span>
  <style>
    obfuscated-data {
      display: none;
    }
  </style>
</noscript>

<script>
  import ObfuscatedData from './ObfuscatedData';
  customElements.define('obfuscated-data', ObfuscatedData);
</script>
